/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
	height: 100%;
	background-image: url('background.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}


#sign {
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px; /* this indicates where the sign/header ends */
}

#links_bar {
  position: relative;
  margin: 5px auto 10em auto;
  width: 675px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 50px;
}

.link_bar_link {
  text-transform:uppercase;
}

#wrapper {
  position: relative;
  margin: 5px auto 10em auto;
  width: 675px;
  background: #CCCCCC;
  color: #000000; /* font color */
	height: auto;
	padding: 0px 10px 10px 10px;
	border-radius: 10px;
	border-top: solid 1px #000000;
	border-right: solid 1px #000000;
  border-left: solid 1px #000000;
	border-bottom: solid 1px #000000;
}


footer {
  margin-top: 50px;
  font-size: 10pt;
  text-align: center;
}


