/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
	height: 100%;
	/*background-image: url('background.jpg');*/
	background-color: #DCE6F2;
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}


#banner {
  background-color: #FFFFFF;
}

#logo {
	position: relative;
	z-index: 0;
}

#links_bar {
  position: absolute;
  top: 47px;
  right: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 600px;
  background: #FFFFFF;
  border-radius: 5px;
  border: solid 3px #DCE6F2;
  word-spacing: 50px;
}

.link_bar_link {
  text-transform:uppercase;
  word-spacing: 3px;
}

.website_tile { /* the tile class*/
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background: #FFFFFF;
  color: #000000; 
	height: auto;
	padding: 0px 10px 10px 10px;
	border-radius: 50px; /*adjusts the curve on border*/
	border-top: solid 2px #CCCCCC;
	border-right: solid 2px #CCCCCC;
  border-left: solid 2px #CCCCCC;
	border-bottom: solid 2px #CCCCCC;
}

#user {
  position: absolute;
  top: 16px;
  right: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60px;
  background: #FFFFFF;
  border: solid 3px #DCE6F2;
  border-radius: 5px;
}

#wrapper {  /*this includes the yield, basically this is the main body*/

}


footer {
	position: relative;
  background-color: #FFFFFF;
  margin-top: 40px;
  font-size: 15pt;
}

#Legal {
	position: relative;
}

#Help {
	position: absolute;
	right: 2px;
	bottom: -20px;
}

