/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html {
	height: 100%;
	/*background-image: url('background.jpg');*/
	background-color: #DCE6F2;
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}


#banner {
  background-color: #FFFFFF;
}

#logo {
	position: relative;
	z-index: 0;
}

#links_bar {
  position: absolute;
  top: 47px;
  right: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 600px;
  background: #FFFFFF;
  border-radius: 5px;
  border: solid 3px #DCE6F2;
  word-spacing: 50px;
}

.link_bar_link {
  text-transform:uppercase;
  word-spacing: 3px;
}

#webtiles{
	position: relative;
}

.website_tile { /* the tile class*/
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background: #FFFFFF;
	height: auto;
	padding: 30px 25px 50px 25px;
	border-radius: 50px; /*adjusts the curve on border*/
	border-top: solid 2px #CCCCCC;
	border-right: solid 2px #CCCCCC;
  border-left: solid 2px #CCCCCC;
	border-bottom: solid 2px #CCCCCC;
}

ul#grid {
	position: relative;
	padding: 0;
	list-style: none;
	margin: 20px auto 0;
	width: 80%;  
}

#grid li {
	float: left;
	padding: 0;
	margin: 0 50px 100px 50px;
} 

#grid li a {
	display: block;
}

#grid li img {
	background-color: white;

}
  
#grid li a:hover img {
	opacity:0.3; filter:alpha(opacity=30);
}

/* below is the div that holds the grid, change stuff here for text and etc. */
.grid_display {
	position: relative;
	padding: 20px;
	margin-left: auto; margin-right: auto;  margin-top:50px; margin-bottom:0;
	/*background-color: #ffd7ce;*/
	/*width: 513px; */
	/*these two properties will be inherited by .grid_display h2 and .grid_display p */
	/*font-family: 'GraublauWeb', arial, serif; */
	/*text-align: center;*/
}  

div.grid_display h2 {
	padding: 0; margin: 0;
	clear: both;
	font-size: 35px;
	font-weight: normal;
	color: #58595b;
	background: none;
	font-family: 'GraublauWeb', arial, serif;  
	/* reset for cascade effects that are trickling down from other h2's */
	text-transform: none;
	letter-spacing: normal;
}
  
.grid_display p {
	margin:0; padding: 0;
	font-size: 15px;
	color: #58595b;
}
  
#user {
  position: absolute;
  top: 16px;
  right: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  background: #FFFFFF;
  border: solid 3px #DCE6F2;
  border-radius: 5px;
}

#wrapper {  /*this includes the yield, basically this is the main body*/

}


footer {
	position: relative;
  background-color: #FFFFFF;
  margin-top: 40px;
  font-size: 15pt;
}

#Legal {
	position: relative;
}

#Help {
	position: absolute;
	right: 2px;
	bottom: -20px;
}

