// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#statement {
	padding-top: 30px;
	padding-bottom: 20px;
	margin-left: 10px;
}

/*
#index_group {  
  position: relative;
  width: 75%;
  background: #FFFFFF;
  color: #000000; 
	height: auto;
	padding: 0px 10px 10px 10px;
	border-radius: 50px;
	border-top: solid 2px #CCCCCC;
	border-right: solid 2px #CCCCCC;
  border-left: solid 2px #CCCCCC;
	border-bottom: solid 2px #CCCCCC;
}
*/
