// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index_group {  
  position: relative;
  margin: 5px auto 10em auto;
  //max-width: 75%;
  width: 75%;
  background: #FFFFFF;
  color: #000000; 
	height: auto;
	padding: 0px 10px 10px 10px;
	border-radius: 50px; //adjusts the curve on border
	border-top: solid 2px #CCCCCC;
	border-right: solid 2px #CCCCCC;
  border-left: solid 2px #CCCCCC;
	border-bottom: solid 2px #CCCCCC;
}

#category_top {
  position: relative;
}

#category_bot {
  position: relative;
}
