// Place all the styles related to the Websites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#New_Web_Info {
	margin-left: 60px;
}

#statement {
	padding-top: 10px;
	margin-left: 60px;
	font-family: Impact, Charcoal, sans-serif; 
	font-variant:small-caps;
}

li#submit a {
	background-color: #DCE6F2;
}
