#toolbar_container
	%div{:class => "box"}
		#toolbar
			%ul
				%li
					= link_to "Discover", "/discover", :id=>"discover"
				%li
					= link_to "Submit A Site", "/submit", :id=>"submit"
				%li
					= link_to "Profile", "/profile", :id=>"profile"
